@import "tailwindcss";

@theme {
  --font-sans: "JetBrains Mono", monospace, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

h1 {
  @apply text-white;
}

h2,
h3,
h4,
h5,
h6 {
  @apply text-white font-bold;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 2s steps(1) infinite;
  display: inline-block;
}
